$primary-color: lightgrey;
$secondary-color:lime;
$accessory-color: purple;

.app-container {
  display: flex;
  height: 100vh;
  align-items: stretch;
  min-width: 320px;
  min-height: 568px;

  @media screen and (orientation:landscape) {
    min-width: 568px;
    min-height: 320px;
  }

  @media only screen and (max-width: 480px) {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .menu-container {
    flex-grow: 1;
    background-color: $primary-color;

    .sidebar-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      padding: 16px;

      button {
        padding: 16px;
        font-size: medium;
        margin-bottom: 8px;
        border: 1px silver solid;
      }

      button.selected {
        background: purple;
      }
    
      button:hover {
        opacity: 0.5;
      }
    }
  }

  .board-container {
    flex-grow: 5;
    background-color: white;
 
    .shapes-container {
        width: 100%;
        height: 100%;
      
      polygon {
        fill: $secondary-color;
        stroke: $accessory-color;
        stroke-width: 1;
      }

      polygon:hover {
        fill-opacity: 0.5;
      }

      polygon.selected {
        fill: #581f63;
        stroke: purple;
        stroke-width: 1;
      }
    }
  }


}